@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.body {
  min-height: calc(100dvh - $navHeight);
}
nav {
  box-shadow: $shadow;
  .nav-content {
    height: $navHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        height: 4rem;
      }
    }
    .auth-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
  .media {
    flex: 1 1 0%;
    background-color: $blue;
    border-radius: 2rem;
    height: 30rem;
  }
  .action {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .title {
      overflow-y: hidden;
      height: 6rem;
      display: flex;
      h1:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
    }
    h1:nth-child(2) {
      margin-bottom: 0 !important;
    }
    h1:nth-child(3) {
      color: $orange;
    }
    h1 {
      display: flex;
      ul {
        li {
        }
      }
    }
  }
}
.FullScreenModal {
  height: 100dvh;
  position: absolute;
  // inset: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.auth {
  .auth-media {
    background-color: $orange;
    width: 50%;
    left: 0;
  }
  .auth-forms {
    display: flex;
    gap: 1rem;
    background-color: $offwhite;
    width: 50%;
    right: 0;
    align-items: center;

    .close {
      position: absolute;
      top: 5rem;
      right: 5rem;
      font-size: 2rem;
      cursor: pointer;
    }
    .form {
      width: 25rem;
      margin-inline: auto;
      height: 40dvh;
    }
  }
}
