@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.body {
  min-height: calc(100dvh - $navHeight);
}
nav {
  box-shadow: $shadow;
  .nav-content {
    height: $navHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    .logo {
      img {
        height: 4rem;
      }
    }
    .auth-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
.hero {
  display: flex;
  align-items: center;
  gap: 2rem;
  .media {
    flex: 1 1 0%;
    background-color: $blue;
    border-radius: 2rem;
    height: 30rem;
  }
  .action {
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .title {
      overflow-y: hidden;
      height: 6rem;
      display: flex;
      h1:nth-child(2) {
        display: flex;
        flex-direction: column;
      }
    }
    h1:nth-child(2) {
      margin-bottom: 0 !important;
    }
    h1:nth-child(3) {
      color: $orange;
    }
    h1 {
      display: flex;
    }
  }
}
.FullScreenModal {
  height: 100dvh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
}
.auth {
  .auth-media {
    background-color: $orange;
    width: 50%;
    left: 0;
  }
  .auth-forms {
    display: flex;
    gap: 1rem;
    background-color: $offwhite;
    width: 50%;
    right: 0;
    align-items: center;

    .close {
      position: absolute;
      top: 5rem;
      right: 5rem;
      font-size: 2rem;
      cursor: pointer;
    }
    .form {
      width: 25rem;
      margin-inline: auto;
      height: 40dvh;
      .form-buttons {
        position: relative;
        height: 2.5rem;
        a {
          width: 100%;
          position: absolute;
        }
      }
      .member {
        text-decoration: underline;
        text-align: center;
        margin-top: 2rem;
        cursor: pointer;
      }
    }
  }
}
.dashboard {
  background-color: $cloudgrey;
  height: calc(100dvh - $navHeight);
  width: 100%;
  display: flex;
  .side-nav {
    display: flex;
    width: 22rem;
    // overflow: hidden;
    .nav-wrapper {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      border-left: 1px solid $white;
      width: 100%;
      flex-shrink: 0;
      overflow: hidden;
      .back-icon-wrapper {
        background-color: $white;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-bottom: 2rem;
        cursor: pointer;
      }
      .hr {
        margin-block: 2rem;
        width: 100%;
        margin-inline: 0;
      }
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        .icon-wrapper {
          background-color: white;
          border-radius: 2rem;
          color: black;
        }
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: 1rem;
        li {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .quiz-name-title {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
          .quiz-panel {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }

        .list-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-inline: 0.5rem;
          padding-block: 0.5rem;
          border-radius: 0.5rem;
          p {
            span {
              font-weight: 800;
              font-size: 22px;
              color: $blue;
            }
          }

          cursor: pointer;
          &:hover {
            background-color: $lightgrey;
          }
        }
        .active {
          background-color: $lightgrey !important;
          p {
            span {
              color: $orange;
            }
          }
        }
      }
    }
  }
  .expand {
    width: 25rem !important;
  }
  .quizes-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;

    background-color: $white;
    border-radius: 2rem;
    padding: 2rem;
    overflow-y: scroll;
    .top-bar {
      display: flex;
      justify-content: space-between;
      .newQuizBtn {
        width: fit-content;
        margin-left: auto;
        .icon-wrapper {
          padding: 0.25rem;
          background-color: $white;
          color: $blue;
        }
      }
    }

    .quetion-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .quiz-titles,
      .quiz-header {
        grid-auto-columns: 1fr;
        grid-template-rows: repeat(1, auto);
        padding: 1rem;
        grid-template-columns: calc(100% - 21rem) 8rem 8rem 2rem;
        gap: 1rem;
        display: grid;
        width: calc(100%);
      }
      .quiz-data {
        .quiz-header {
          cursor: pointer;
          padding-inline: 1rem;
          width: 100%;
          padding-block: 1rem;
          border-radius: 1rem;
          background-color: $lightgrey;
          border-bottom: 4px solid transparent;
        }
        .active {
          border-radius: 1rem 1rem 0 0;
          border-bottom: 4px solid $blue;
        }
        .quiz-content {
          background-color: $cloudgrey;
          border-radius: 0 0 1rem 1rem;
          display: flex;
          padding: 4rem;
          justify-content: space-evenly;
          min-height: 50dvh;
          gap: 2rem;
          .addAnswer {
            width: min-content;
          }
          .qa {
            gap: 2rem;
            display: flex;
            flex-direction: column;
            min-width: 20rem;
            .tf,
            .answer-list {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .answer-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                .correct {
                  border: 1px solid #508104 !important;
                  input {
                    color: #508104 !important;
                  }
                }
                .input-wrapper {
                  max-width: 25rem;
                  width: 100%;
                  input {
                    font-weight: 600;
                    font-style: $font-stack;
                  }
                }
                .disabled {
                  scale: 0.9;
                  color: $dimgrey !important;
                  cursor: not-allowed !important;
                }
                .icon {
                  cursor: pointer;
                  font-size: 2rem;
                  color: $orange;
                }
                .answer {
                  border: 1px solid $orange;
                  input {
                    color: $orange;
                    &::placeholder {
                      color: $orange;
                    }
                  }
                }
              }
            }
            .question {
              border: 1px solid $blue;
              input {
                color: $blue;
                &::placeholder {
                  color: $blue;
                }
              }
            }
            .button-group {
              display: flex;
              gap: 1rem;
              .button-wrapper {
                flex: 1;
              }
              .loading {
                font-size: 2rem;
              }
            }
          }
          .panel {
            min-width: 10rem;
          }
        }
      }
    }
    .view-results {
    }
  }
}
.admin-top-nav {
  display: flex;
  background-color: $cloudgrey;
  padding-inline: 2rem;
  padding-block: 1rem;
  justify-content: space-between;
  height: $navHeight;
  .logo-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    .active-workspace {
      margin-left: 4rem;
      font-weight: 700;
      .icon {
      }
    }
  }
  .logo {
    width: 2rem;
  }
}
.admin-side-nav {
  background-color: $cloudgrey;
  height: 100dvh;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;

  .hr {
    background-color: $white;
    width: 100%;
  }
  .icon-wrapper {
    .icon {
      font-size: 2rem;
    }
  }
  .active {
    background-color: $orange;
    color: $white;
  }
}
.sharingkey {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100dvh - $navHeight);
  .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $cloudgrey;
    border-radius: 2rem;
    padding: 2rem;
    min-height: 25rem;
    max-width: 35rem;
    gap: 2rem;
    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-inline: auto;
      .name {
        display: flex;
        gap: 1rem;
      }
    }
  }
  .quiz-wrapper {
    max-width: 45rem;
    .boxes {
      .box {
        margin-top: 0.5rem;
        padding: 1rem;
        background-color: $lightgrey;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
          background-color: $cloudgrey;
        }
      }
      .selected {
        background-color: $blue;
        color: $white;
        &:hover {
          background-color: $orange;
        }
      }
    }
  }
  .icon-wrapper {
    width: fit-content;
    background-color: $cloudgrey;
    color: $blue;
    margin-left: auto;
    margin-top: 1rem;
    .icon {
      font-size: 5rem;
    }
  }
}
.review {
  max-width: 45rem;
  margin-inline: auto;
  margin-block: 5rem;
  display: flex;
  gap: 1rem;
}
