$font-stack: "Montserrat";
$brown: #615545;
$golden: #9b773d;
$black: #121112;
$grey: #646263;
$dimgrey: #444243;
$white: #f2f0ef;
$offwhite: #e2ded8;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
