$font-stack: "Montserrat";

$yellow: #ffbb00;
$orange: #fb6542;
$blue: #375e97;

$white: #ffffff;
$black: #1f1f1f;

$grey: #EEEEED;
$dimgrey: #A499A4;
$offwhite: #f6f7fb;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$navHeight: 6rem;

$drift: cubic-bezier(1, 0, 0.6, 1.1);

$brake: cubic-bezier(0, 1, 0.6, 1);
$reversebrake: cubic-bezier(0.6, 1, 0, 1);
